.about-page {
    &__h2 {
        font-family: "firasans-regular", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #252525;
    }
    &__wrap {
        margin-top: 6rem;
    }
    &__width {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;
        z-index: 2;
    }
    /* Image section */
    &__img-section {
        &_img {
            background-image: url('../images/about-page/video_poster.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 90.625vw;
            width: 100%;
            /*position play button center for parent block*/
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inlinePlayButton {
            cursor: pointer;
            display: block;
            font-size: 0px;
            top: 50%;
            width: 6rem;
            height: 6rem;
            top: calc(50% - 3rem);
            left: calc(50% - 3rem);
            position: absolute;
            background-image: url('../images/about-page/play_button_sm.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    /* Doctor info section */
    &__doctor-info {
        position: relative;
        .lines {
            top: 0;
        }
        &_header {
            max-width: 29.1rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &_paragraphs * {
            color: $p-color-1;
            font-family: $light;
            line-height: 18px;
            font-size: 1rem;
            font-weight: 300;
            padding-bottom: 2rem;
            &:last-child {
                padding-bottom: 0;
            }
        }
        &_numbers-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            max-width: 29rem;
            margin: 0 auto;
        }
        &_block1,
        &_block2,
        &_block3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 2.1rem 1.4rem;
        }
        &_block1 {
            width: 13.6rem;
            height: 13.6rem;
            background-image: url('../images/about-page/square-border_sm.svg');
            position: relative;
            right: 0.9rem;
        }
        &_block2 {
            width: 13.6rem;
            height: 13.6rem;
            background-image: url('../images/about-page/square-border_sm.svg');
            position: relative;
            left: 0.9rem;
        }
        &_block3 {
            width: 29rem;
            height: 13.6rem;
            background-image: url('../images/about-page/rectangle-border_sm.svg');
            margin-top: 1.8rem;
        }
        &_numbers {
            color: $medium-blue-1;
            font-family: $regular;
            font-size: 3.6rem;
            font-weight: 400;
            letter-spacing: 1px;
        }
        &_numbers-text {
            font-size: 1rem;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.28px;
            color: $medium-blue-1;
            font-family: $regular;
            padding-top: 1rem;
        }
        &_icons-section {
            display: flex;
            flex-direction: column;
            max-width: 23.5rem;
            margin: 0 auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        &_icon-block {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            align-items: center;
            padding-bottom: 2.7rem;
        }
        &_icon-text {
            max-width: 16.6rem;
            color: $p-color-08;
            font-size: 1rem;
            line-height: 16px;
            font-weight: 400;
            font-family: $light;
            letter-spacing: 0.28px;
        }
        &_icon {
            background-repeat: no-repeat;
            background-size: contain;
            &-wrap {
                width: 3.3rem;
                height: 3rem;
                display: flex;
                justify-content: flex-start;
                margin-right: 3.3rem;
            }
            &.icon1 {
                width: 2.2rem;
                height: 3rem;
                background-image: url('../images/about-page/guarantee-sm.svg')
            }
            &.icon2 {
                width: 2.1rem;
                height: 3rem;
                background-image: url('../images/about-page/stress-free-sm.svg')
            }
            &.icon3 {
                width: 2.7rem;
                height: 3rem;
                background-image: url('../images/about-page/heart-sm.svg')
            }
            &.icon4 {
                width: 3.3rem;
                height: 3rem;
                background-image: url('../images/about-page/rehab-sm.svg')
            }
        }
    }
    /* Tabs-accordion section */
    &__doctor-tabs {
        background: white;
        width: 100%;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        a {
            text-decoration: none;
            color: $dark-blue-1;
            font-family: $light;
        }
        div {
            box-sizing: border-box;
        }
        .tabbed-content {
            box-sizing: border-box;
            .tabs {
                display: none;
                .list-wrap {
                    margin: 0;
                    padding: 0 0 1em 0;
                    font-weight: bold;
                    .list-item {
                        a {
                            padding: .5em 1em;
                            &.active {
                                @include tab-active();
                            }
                        }
                    }
                }
            }
            .item {
                min-height: 6rem; // We need a minimum height for each item or else the accordion buttons would dissapear
                border-bottom: 1px solid rgba(79, 111, 158, 0.1);
                &:last-child {
                    border-bottom: none;
                }
                &::before {
                    content: attr(data-title); // Instead of polluting the HTML with a duplicate set of tabs, we get the accordion using the data-title attribute.
                    cursor: pointer;
                    font-family: "firasans-light", sans-serif;
                    font-size: 1.4rem;
                    letter-spacing: 0.39px;
                    padding: 0rem 1.5rem;
                    display: flex;
                    text-transform: uppercase;
                    justify-content: center;
                    height: 6rem;
                    align-items: center;
                }
                .item-content {
                    // We hide the inactive content with zero opacity instead of "display:none" because this allows us to apply transition effects if we want. 
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                }
                .item-content * {
                    padding-bottom: 4.5rem;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
                &.active {
                    .item-content {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                        padding: 1.5rem 1.5rem 2.2rem;
                        -webkit-transition: opacity 0.3s ease-in-out;
                        -moz-transition: opacity 0.3s ease-in-out;
                        -o-transition: opacity 0.3s ease-in-out;
                        -ms-transition: opacity 0.3s ease-in-out;
                        transition: opacity 0.3s ease-in-out;
                    }
                    &::before {
                        @include tab-active();
                    }
                }
            }
        }
    }
    /* Tabs-accordion section - end */
    /* Surgery results section */
    &__surgery-results {
        position: relative;
        .lines {
            top: 0;
        }
        .about-page__width {
            padding-top: 3rem;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 10rem;
        }
        .request-block {
            position: absolute;
            z-index: 3;
            bottom: 0;
            width: 100%;
        }
    }
}

/* Doctor Associations section */

.doctor-associations {
    position: relative;
    padding-bottom: 9rem;
    .lines {
        top: 0;
    }
    &__width {
        width: 100%;
        padding: 0rem 1.5rem;
        position: relative;
    }
    &__links {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: 20rem;
    }
    &__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 2.5rem;
        img {
            padding-bottom: 1.5rem;
            max-height: 8rem;
            max-width: 17rem;
        }
        &-text {
            display: flex;
            color: $p-color-08;
            font-family: $light;
            font-size: 1rem;
            letter-spacing: 0.28px;
            font-weight: 400;
            max-width: 17rem;
            text-align: center;
            line-height: 16px;
        }
    }
    &__header {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    &__h2 {
        color: #252525;
        font-family: $regular;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 28px;
        padding-left: 3.3rem;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    &__pointer.pointer__wrap {
        left: 0;
    }
    &__view-link-wrap {
        cursor: pointer;
        position: absolute;
        bottom: 3.8rem;
        right: 50%;
        transform: translateX(50%);
    }
    &__slider {
        z-index: 8;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 6rem;
        &-wrap {
            height: 16rem;
            max-height: 20rem;
        }
        .slick-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .slick-arrow {
            position: absolute;
            z-index: 5;
            border: none;
            color: transparent;
            background-color: transparent;
            display: inline-block;
            overflow: hidden;
            text-indent: -9999px;
            text-align: left;
            width: 10.2rem;
            height: 0.6rem;
            outline: 1px solid transparent;
        }
        .slick-prev.slick-arrow {
            position: absolute;
            bottom: 0;
            cursor: pointer;
            background-image: url('../images/smm-expert/arrow-horiz_left-dark-sm.svg');
            background-repeat: no-repeat;
            width: 6rem;
            height: 6rem;
            transition: background-image 0.5s ease-in-out;
            background-color: none;
            background-repeat: no-repeat;
            background-position: center;
            transform: none;
            left: 0;
        }
        .slick-next.slick-arrow {
            position: absolute;
            bottom: 0;
            cursor: pointer;
            background-image: url('../images/smm-expert/arrow-horiz_right-dark-sm.svg');
            background-repeat: no-repeat;
            width: 6rem;
            height: 6rem;
            transition: background-image 0.5s ease-in-out;
            background-color: none;
            background-repeat: no-repeat;
            background-position: center;
            transform: none;
            right: 0;
        }
    }
}

/* Doctor Certificates section */

.doctor-certificates {
    position: relative;
    .lines {
        top: 0;
    }
    &__width {
        width: 100%;
        padding: 0rem 1.5rem;
        position: relative;
    }
    &__link {
        width: 50%;
        display: flex;
        height: 21rem;
        background-position: top center;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        width: calc(100% - 0.75rem);
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: $main-img-grad;
            z-index: 3;
        }
    }
    &__header {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    &__h2 {
        color: #252525;
        font-family: $regular;
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 28px;
        padding-left: 3.3rem;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    &__pointer.pointer__wrap {
        left: 0;
    }
    &__view-link-wrap {
        cursor: pointer;
        position: absolute;
        bottom: 3.8rem;
        right: 50%;
        transform: translateX(50%);
    }
    &__slider {
        z-index: 8;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 9rem;
        &-item {
            &:nth-child(even) a {
                left: 0.75rem;
            }
        }
        .slick-slide {
            height: 21rem;
            width: 50%;
        }
        .slick-list,
        .slick-track {
            width: 100%;
        }
        .slick-arrow {
            position: absolute;
            z-index: 5;
            border: none;
            color: transparent;
            background-color: transparent;
            display: inline-block;
            overflow: hidden;
            text-indent: -9999px;
            text-align: left;
            width: 10.2rem;
            height: 0.6rem;
            outline: 1px solid transparent;
        }
        .slick-prev.slick-arrow {
            position: absolute;
            bottom: 0;
            cursor: pointer;
            background-image: url('../images/smm-expert/arrow-horiz_left-dark-sm.svg');
            background-repeat: no-repeat;
            width: 6rem;
            height: 9rem;
            transition: background-image 0.5s ease-in-out;
            background-color: none;
            background-repeat: no-repeat;
            background-position: center;
            transform: none;
            left: 0;
        }
        .slick-next.slick-arrow {
            position: absolute;
            bottom: 0;
            cursor: pointer;
            background-image: url('../images/smm-expert/arrow-horiz_right-dark-sm.svg');
            background-repeat: no-repeat;
            width: 6rem;
            height: 9rem;
            transition: background-image 0.5s ease-in-out;
            background-color: none;
            background-repeat: no-repeat;
            background-position: center;
            transform: none;
            right: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .about-page {
        &__h2 {
            font-size: 2rem;
        }
        &__wrap {
            margin-top: 13rem;
        }
        &__width {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        /* Image section */
        &__img-section {
            &_img {
                height: 54.42vw;
            }
            .inlinePlayButton {
                width: 8rem;
                height: 8rem;
                top: calc(50% - 4rem);
                left: calc(50% - 4rem);
                background-image: url('../images/about-page/play_button_md.svg');
            }
        }
        /* Doctor info section */
        &__doctor-info {
            &_header {
                max-width: 100%;
                padding-top: 4rem;
                padding-bottom: 2rem;
            }
            &_paragraphs {
                p {
                    font-size: 1.2rem;
                    line-height: 22px;
                }
            }
            &_block1,
            &_block2,
            &_block3 {
                width: 16.2rem;
                height: 16.4rem;
                padding: 1.8rem 1.4rem;
            }
            &_block1 {
                position: static;
                background-image: url('../images/about-page/square-border_md.svg');
            }
            &_block2 {
                position: static;
                background-image: url('../images/about-page/square-border_md.svg');
            }
            &_block3 {
                background-image: url('../images/about-page/square-border_md.svg');
                margin-top: 0;
            }
            &_numbers {
                font-size: 4.8rem;
                letter-spacing: 1.33px;
            }
            &_numbers {
                &-text {
                    font-size: 1.2rem;
                    letter-spacing: 0.33px;
                    &.text1 {
                        max-width: 12rem;
                    }
                }
            }
            &_numbers-section {
                display: flex;
                flex-wrap: no-wrap;
                justify-content: space-between;
                max-width: 57rem;
            }
            &_icons-section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 51rem;
                justify-content: space-between;
                padding-bottom: 4rem;
            }
            &_icon-block {
                width: 43%;
            }
            &_icon-text {
                font-size: 1.2rem;
                line-height: 18px;
                letter-spacing: 0.33px;
                &.text2 {
                    max-width: 14.6rem;
                }
            }
            &_icon {
                &-wrap {
                    width: 4.4rem;
                    height: 4rem;
                    margin-right: 2.8rem;
                }
                &.icon1 {
                    width: 3rem;
                    height: 4rem;
                    background-image: url('../images/about-page/guarantee-md.svg')
                }
                &.icon2 {
                    width: 2.7rem;
                    height: 4rem;
                    background-image: url('../images/about-page/stress-free-md.svg')
                }
                &.icon3 {
                    width: 3.6rem;
                    height: 4rem;
                    background-image: url('../images/about-page/heart-md.svg')
                }
                &.icon4 {
                    width: 4.4rem;
                    height: 4rem;
                    background-image: url('../images/about-page/rehab-md.svg')
                }
            }
        }
        /* Tabs-accordion section */
        &__doctor-tabs {
            .tabbed-content {
                .item {
                    min-height: 2rem; // We need a minimum height for each item or else the accordion buttons would dissapear
                    &::before {
                        font-size: 1.8rem;
                        letter-spacing: 0.5px;
                        height: 10.9rem;
                    }
                    &.active {
                        .item-content {
                            padding: 1.5rem 1.5rem 2.2rem;
                        }
                        &::before {
                            @include tab-active();
                        }
                    }
                }
            }
        }
        /* Surgery results section */
        &__surgery-results {
            .about-page__width {
                padding-top: 5rem;
                padding-bottom: 12.3rem;
            }
            .request-block {
                bottom: 2rem;
            }
        }
    }
    /* Doctor Associations section */
    .doctor-associations {
        &__pointer.pointer__wrap {
            left: 2rem;
        }
        &__h2 {
            font-size: 2rem;
            letter-spacing: 0.56px;
            line-height: 28px;
            padding-left: 6rem;
        }
        &__width {
            position: relative;
            z-index: 7;
            padding: 0 2.5rem 0rem;
        }
        &__view-link-wrap {
            bottom: auto;
            top: 3.6rem;
            right: 20rem;
        }
        &__links {
            height: 9rem;
        }
        &__link {
            width: 100%;
            img {
                max-width: 15rem;
            }

            &-text {
                font-size: 1.2rem;
                letter-spacing: 0.33px;
                font-weight: 400;
                line-height: 18px;
            }   
        }
        &__slider {
            padding-bottom: 6.5rem;
            padding-top: 2rem;
            .slick-dots {
                position: absolute;
                right: auto;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: rotate(-90deg);
                width: 60.8rem;
                z-index: 20;
                width: 100%;
                height: 1.2rem;
                top: auto;
                bottom: 0;
                li {
                    margin: 1rem 0;
                    height: 0.8rem;
                }
            }
            .slick-prev.slick-arrow {
                top: -7.5rem;
                left: auto;
                right: 30rem;
                width: 10.1rem;
                background-image: url('../images/smm-expert/arrow-horiz_left-dark-lg.svg');
            }
            .slick-next.slick-arrow {
                top: -7.5rem;
                right: 0;
                width: 10.1rem;
                background-image: url('../images/smm-expert/arrow-horiz_right-dark-lg.svg');
            }
        }
    }
    /* Doctor Certificates section */
    .doctor-certificates {
        &__pointer.pointer__wrap {
            left: 2rem;
        }
        &__h2 {
            font-size: 2rem;
            letter-spacing: 0.56px;
            line-height: 28px;
            padding-left: 6rem;
        }
        &__width {
            padding: 0rem 2.5rem;
            position: relative;
            z-index: 7;
        }
        &__view-link-wrap {
            bottom: auto;
            top: 3.6rem;
            right: 20rem;
        }
        &__link {
            width: calc(100% - 1.5rem);
        }
        &__links {
            height: 9rem;
        }
        &__slider {
            padding-bottom: 6.5rem;
            padding-top: 2rem;
            &-wrap {
                margin-left: -2.5rem;
                margin-right: -2.5rem;
            }
            &-item {
                &:nth-child(even) a {
                    left: 0.75rem;
                }
                &:nth-child(odd) a {
                    left: 0.75rem;
                }
            }
            .slick-dots {
                position: absolute;
                right: auto;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: rotate(-90deg);
                width: 60.8rem;
                z-index: 20;
                width: 100%;
                height: 1.2rem;
                top: auto;
                bottom: 0;
                li {
                    margin: 1rem 0;
                    height: 0.8rem;
                }
            }
            .slick-prev.slick-arrow {
                top: -9rem;
                left: auto;
                right: 32.5rem;
                width: 10.1rem;
                background-image: url('../images/smm-expert/arrow-horiz_left-dark-lg.svg');
            }
            .slick-next.slick-arrow {
                top: -9rem;
                right: 2.5rem;
                width: 10.1rem;
                background-image: url('../images/smm-expert/arrow-horiz_right-dark-lg.svg');
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-page {
        &__h2 {
            font-size: 2.4rem;
            line-height: 40px;
            letter-spacing: 0.67px;
        }
        &__wrap {
            margin-top: 11rem;
        }
        &__width {
            max-width: 1106px;
            width: 1106px;
            margin: 0 auto;
            padding-left: 0rem;
            padding-right: 0rem;
        }
        /* Image section */
        &__img-section {
            position: relative;
            &_img {
                height: 60rem;
            }
            .inlinePlayButton {
                &:hover {
                    animation: pulse 1s infinite;
                }
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                background-image: $section-bg-grad;
                height: 55.4rem;
                width: 100%;
            }
        }
        &__doctor-info {
            &_wrap {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            &_header {
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
            &_paragraphs {
                max-width: 43%;
                p {
                    font-size: 1.4rem;
                }
            }
            &_block2,
            &_block3 {
                margin-left: 4rem;
            }
            &_numbers-section {
                margin: 0;
                padding-top: 0.5rem;
                max-width: 100%;
            }
            &_numbers {
                font-size: 6.4rem;
                letter-spacing: 1.78px;
                &.number3 {
                    font-size: 4.8rem;
                    letter-spacing: 1.33px;
                }
            }
            &_icons-section {
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                max-width: 1106px;
                width: 1106px;
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
            &_icon-block {
                width: 25%;
                padding-bottom: 0;
            }
            &_icon-text {
                font-size: 1.4rem;
                line-height: 20px;
                letter-spacing: 0.39px;
            }
        }
        /* Image section - end*/
        /* Tabs-accordion section */
        &__doctor-tabs {
            &_width {
                max-width: 1106px;
                margin: 0 auto;
            }
            .tabbed-content {
                display: flex;
                .side_tab-wrap {
                    width: 60%;
                }
                .tabs {
                    display: flex;
                    width: 46.5%;
                    .list-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 0;
                    }
                    .list-item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        a {
                            display: block;
                        }
                    }
                }
                .item {
                    min-height: 0;
                    border-bottom: none;
                    &::before {
                        display: none;
                    }
                    &.active {
                        .item-content {
                            padding: 5.2rem 3.5rem;
                        }
                    }
                } // Tabs on the side (works only on big screens)
                &.tabs-side {
                    .tabs {
                        width: 40%;
                        float: left;
                        .list-item {
                            width: 443px;
                            display: flex;
                            position: relative;
                            box-sizing: border-box;
                            border-bottom: 1px solid rgba(79, 111, 158, 0.1);
                            border-right: 1px solid rgba(79, 111, 158, 0.1);
                            &:last-child {
                                border-bottom: none;
                            }
                            a {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                letter-spacing: 0.5px;
                                &:hover {
                                    font-family: $regular;
                                }
                                &.active::before {
                                    content: '';
                                    position: relative;
                                    right: -42.5rem;
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    border-top: 10px solid transparent;
                                    border-bottom: 10px solid transparent;
                                    border-left: 10px solid rgba(74, 97, 128, 0.1);
                                }
                            }
                        }
                    }
                    .item {
                        margin-left: 0;
                    }
                }
            }
        }
        /* Tabs-accordion section - end */
        /* Surgery results section */
        &__surgery-results {
            padding-top: 0;
            .about-page__width {
                padding-bottom: 15rem;
            }
            .request-block {
                bottom: 2.8rem;
            }
        }
    }
    /* Doctor Associations section */
    .doctor-associations {
        position: relative;
        padding-bottom: 4.5rem;
        top: 0rem;
        &__width {
            max-width: 1106px;
            margin: 0 auto;
            position: relative;
            padding: 0rem;
            display: flex;
            flex-wrap: wrap;
        }
        &__header {
            position: relative;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        &__h2 {
            padding: 2rem;
            color: $header-color;
            font-family: $regular;
            letter-spacing: 0.5px;
            font-weight: 400;
            line-height: 28px;
            padding-left: 3.3rem;
            font-size: 2.4rem;
            text-transform: uppercase;
        }
        &__pointer.pointer__wrap {
            left: 0;
        }
        &__wrap {
            display: flex;
            flex-direction: row;
        }
        &__view-link-wrap {
            top: 5.9rem;
        }
        &__links {
            padding-top: 7rem;
            padding-bottom: 9rem;
        }
        &__link {
            padding-top: 0;

            img {
                max-height: 13rem;
                max-width: 20rem;
            }

            &-text {
                font-size: 1.4rem;
                letter-spacing: 0.39px;
            }
        }
        &__slider {
            padding-bottom: 0;
            &-wrap {
                width: 100%;
            }
            &-item {
                height: 16rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .slick-prev.slick-arrow {
                top: -9.5rem;
                &:hover {
                    background-image: url('../images/smm-expert/arrow-horiz-hov_left-dark-lg.svg');
                }
            }
            .slick-next.slick-arrow {
                top: -9.5rem;
                &:hover {
                    background-image: url('../images/smm-expert/arrow-horiz-hov_right-dark-lg.svg');
                }
            }
        }
    }
    /* Doctor Certificates section */
    .doctor-certificates {
        max-width: 1106px;
        padding-bottom: 4.5rem;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        top: 0rem;
        position: relative;
        &__slider-wrap {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__width {
            position: relative;
            padding: 0rem;
            display: flex;
            flex-wrap: wrap;
        }
        &__header {
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }
        &__h2 {
            padding: 2rem;
            color: $header-color;
            font-family: $regular;
            letter-spacing: 0.5px;
            font-weight: 400;
            line-height: 28px;
            padding-left: 3.3rem;
            font-size: 2.4rem;
            text-transform: uppercase;
        }
        &__pointer.pointer__wrap {
            left: 0;
        }
        &__wrap {
            display: flex;
            flex-direction: row;
        }
        &__view-link-wrap {
            top: 5.9rem;
        }
        &__link {
            width: calc(100% - 1.5rem)
        }
        &__links {
            padding-top: 7rem;
            padding-bottom: 9rem;
        }
        &__slider {
            padding-bottom: 3rem;
            &-item:nth-child(even) a {
                left: 1.5rem;
            }
            &-item:nth-child(odd) a {
                left: 1.5rem;
            }
            .slick-track {
                left: -1rem;
            }
            .slick-prev.slick-arrow {
                top: -10.5rem;
                right: 30rem;
                &:hover {
                    background-image: url('../images/smm-expert/arrow-horiz-hov_left-dark-lg.svg');
                }
            }
            .slick-next.slick-arrow {
                top: -10.5rem;
                right: 0;
                &:hover {
                    background-image: url('../images/smm-expert/arrow-horiz-hov_right-dark-lg.svg');
                }
            }
        }
    }
}