.request-button {
    padding: 0.7rem 0.9rem;
    font-family: $regular;
    cursor: pointer;
    // font-size: 1rem;
    // background-color: $dark-blue-1;
}

.request-block {
    position: relative;
    padding: 4.8rem 0;
    display: flex;
    align-items: center;
    overflow: hidden;

    .request-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16rem;
        height: 4.2rem;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100vw;
            height: 1px;
            // background-image: linear-gradient(to right, $page-grid-03 60%, transparent 0%);
            background-position: left;
            background-size: 8px .5px;
            background-repeat: repeat-x;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            left:-100vw;
        }
        &::after {
            left: 16rem;
        }
        &__text {
            width: 100%;
            height: 100%;
            // background-color: $white-1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: $regular;
            font-size: 1rem;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.28px;

            &-light{
                background-color: $white-1;
                color: $dark-blue-1;
            }

            &-dark{
                background-color: $dark-blue-1;
                color: $white-1;
            }

        }

        &__light{
            background-image: url('../images/button-border-sm-light.svg');
            &::before,
            &::after {
                background-image: linear-gradient(to right, $white-02 60%, transparent 0%);
            }
        }

        &__dark{
            background-image: url('../images/button-border-sm-dark.svg');
            &::before,
            &::after {
                background-image: linear-gradient(to right, $dark-blue-02 60%, transparent 0%);
            }
        }
        
    }
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;

    &__btn {
        position: relative;
        min-width: 16rem;
        &::before {
            content: '';
            height: 100%;
            width: 50%;
            position: absolute;
            transition: width .5s ease-in, background-color .5s ease-in .2s;
            z-index: 3;
            background-color: $medium-blue-04;
        }

    }
    &__link {
        color: $header-color;
        text-align: center;
        width: 100%;
        padding: 1.4rem 0;
        font-family: $regular;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        z-index: 4;
        transition: color .5s ease-in .2s;
    }
}

@media screen and (min-width: 768px) {

    .request-block{
        padding: 6.2rem 0;

        .request-button {
            // font-size: 1.4rem;
            width: 19.95rem;
            height: 5.22rem;
            transition: padding .2s ease-in-out;
            cursor: pointer;

            &__text{
                font-size: 1.4rem;
            }

            &__light{
                background-image: url('../images/button-border-lg-light.svg');
            }
        
            &__dark{
                background-image: url('../images/button-border-lg-dark.svg');
            }

            &::after {
                left: 20rem;
            }

        }

        
    }

    .more {
        &__link {
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 1200px) {

    .request-block{
        padding: 8.2rem 0;

        .request-button{
            transition: padding .2s ease-in-out;
            
            &:hover{
                padding: 0;
            }
        }
    }

    .more {
        &__btn {
            &:hover::before {
                width: 100%;
                background-color: $medium-blue-1;
            }
            &:hover {
                .more__link {
                    color: $white-1;
                }
            }
        }
        &__link {
            font-size: 1.4rem;
        }
    }
}